%h1 Musicians

%table
	%tr
		%th First Name  
		%th Last Name  
		%th Instrument  
		%th Learned Songs  

	- @musicians.each do |musician|
		%tr
			%td= musician.first
			%td= musician.last
			%td= musician.instrument
			%td
				%ul
					- musician.songs.each do |song|
						%li= link_to song.artist + ' - ' + song.title, song
			%td= link_to 'Show', musician
			%td= link_to 'Edit', edit_musician_path(musician)
			%td= link_to 'Destroy', musician, confirm: "Are you sure?", method: :delete
%br
=link_to 'New Musician Profile', new_musician_path